<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AJAX Requests</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://static.classistatic.de/shared/mde-style/2.1.0/style.css">
    <style>
        .cBox {
            width: 300px;
            margin-right: 18px;
            float: left;
        }

        .content > div {
            min-height: 100px;
        }
    </style>
</head>
<body>
<div class="boxes">
    <article th:each="idx : ${#numbers.sequence(1, 12)}" class="cBox cBox--content">
        <section class="cBox cBox--content-body">
            <div th:id="${'content-' + (idx < 10 ? '0' : '') + idx}" class="content">
                <div class="loading--xl-centered">
                    <i class="loading--xl"><span></span></i>
                </div>
            </div>
        </section>
    </article>
</div>
<script>
    var data = [
      {url: '/widget/widget01/', element: "content-01"},
      {url: '/widget/widget02/', element: "content-02"},
      {url: '/widget/widget03/', element: "content-03"},
      {url: '/widget/widget04/', element: "content-04"},
      {url: '/widget/widget05/', element: "content-05"},
      {url: '/widget/widget06/', element: "content-06"},
      {url: '/widget/widget07/', element: "content-07"},
      {url: '/widget/widget08/', element: "content-08"},
      {url: '/widget/widget09/', element: "content-09"},
      {url: '/widget/widget10/', element: "content-10"},
      {url: '/widget/widget11/', element: "content-11"},
      {url: '/widget/widget12/', element: "content-12"}
    ];

    data.forEach(function (d) {
        fetch(d.url)
            .then(function (response) {
                return response.text();
            })
            .then(function (blob) {
                document.getElementById(d.element).innerHTML = blob;
            });
    });
</script>
</body>
</html>
