<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BigPipe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://static.classistatic.de/shared/mde-style/2.1.0/style.css">
    <style>
        .cBox {
            width: 300px;
            margin-right: 18px;
            float: left;
        }

        .content > div {
            min-height: 100px;
        }
    </style>
</head>
<body>
<div class="boxes">
    <article th:each="pageletName : ${pageletNames}" class="cBox cBox--content">
        <section class="cBox cBox--content-body">
            <div th:id="${pageletName}" class="content">
                <div class="loading--xl-centered">
                    <i class="loading--xl"><span></span></i>
                </div>
            </div>
        </section>
    </article>
</div>
<script th-inline="javascript" th:each="pagelet : ${pagelets}">
    (function() {
        var element = document.getElementById("[[${pagelet.name}]]");
        if(element) {
            element.innerHTML = "[(${pagelet.content})]";
        }
    })();
</script>
</body>
</html>
